.navbar-icon {
    max-width: 150px;
    height: auto;
}

.game-image {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 200px; /* Altura fija para mantener la consistencia */
    object-fit: cover; /* Cubre el contenedor manteniendo la relación de aspecto */
}

.game-image:hover {
    opacity: 0.5;
}

.hero-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.circle-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    background-color: black;
    animation: shrinkCircle 2s forwards;
}

@keyframes shrinkCircle {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Ajusta el tamaño según tu preferencia */
}

.outer-circle {
    width: 200px; /* Ajusta el tamaño según tu preferencia */
    height: 200px; /* Ajusta el tamaño según tu preferencia */
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    transition: transform 0.3s ease-in-out;

    /* animation: scaleUp 5s infinite; */
    /* animation-delay: 5s; */
}

.inner-circle {
    width: 123px; /* Ajusta el tamaño según la proporción áurea */
    height: 123px; /* Ajusta el tamaño según la proporción áurea */
    border-radius: 50%;
    background-color: white;

    transition: transform 0.3s ease-in-out;

    /* animation: scaleDown 5s infinite; */
    /* animation-delay: 5s; */
}

.outer-circle:hover {
    transform: scale(1.2);
}

.outer-circle:hover + .inner-circle {
    transform: scale(0.8);
}

.inner-circle:hover {
    transform: scale(0.8);
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

/* .servicio {
    transition: opacity 0.6s ease;
}

.servicio:hover > :not(:hover){
    opacity: 0.4;
} */

/* Animación para tarjetas de servicio */
.dinamic-card .card {
    transition: transform 0.3s ease;
}

.dinamic-card .card:hover {
    transform: translateY(-5px); /* Desplazar hacia arriba al hacer hover */
}

/* Opacidad al hacer hover */
.dinamic-card .card:not(:hover) {
    opacity: 0.7;
}

/* Ejemplo de animación fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text-animation {
    animation: fadeIn 1s ease-in-out;
}

