$primary:       #ff0000 !default;
$secondary:     #8392ab !default;
$info:          #11cdef !default;
$success:       #2dce89 !default;
$warning:       #fb6340 !default;
$danger:        #f5365c !default;
$light:         $gray-200 !default;
$dark:          $h-color !default;